appfilter add profile=http name=default embedded_objects=off ftp_control=off \
    header_validation=off mime_antivirus=off relax_rfc=none reply_header=off \
    request_header=off smartfilter=off type=all \
    comments='default http application defense.'
appfilter modify profile=http name=default service=mime_antivirus \
    default_mime_action=allow infected_handling=discard max_scan_size=4096 \
    scan_fail_safe=on
appfilter modify profile=http name=default service=embedded_objects \
    deny_activex=no deny_java_applets=no deny_scripting=no deny_soap=no
appfilter modify profile=http name=default service=reply_header \
    denied_headers='' deny_binary_data=no reply_header_action=deny \
    reply_header_block=yes reply_headers=''
appfilter modify profile=http name=default service=connection \
    allow_nthttps=no ftp_ports=21 ftp_upstream_proxy='' \
    http_ports=80,443,1024-65535 http_upstream_proxy='' upstream_proxies=''
appfilter modify profile=http name=default service=smartfilter \
    smartfilter_fail_safe=on
appfilter modify profile=http name=default service=request_header \
    denied_headers='' deny_binary_data=no request_header_action=deny \
    request_header_block=yes request_headers=''
appfilter modify profile=http name=default service=header_validation \
    denied_urls='' \
    permits=baseline-control,checkin,checkout,connect,copy,delete,get,head,label,link,lock,merge,mkactivity,mkcol,mkworkspace,move,options,patch,post,propfind,proppatch,put,report,trace,uncheckout,unlink,unlock,update,version-control \
    require_version=yes strict_urls=no unicode=no urimax=1024 url_type=deny \
    v10=yes v11=yes
appfilter modify profile=http name=default service=ftp_control \
    allowed_connection_types=both ftp_commands=ftp_get,ftp_put
appfilter add profile=http name='SmartFilter Redirect' embedded_objects=on \
    ftp_control=off header_validation=on mime_antivirus=off relax_rfc=none \
    reply_header=on request_header=on smartfilter=off type=server \
    comments='SmartFilter redirect for explanations.'
appfilter modify profile=http name='SmartFilter Redirect' \
    service=mime_antivirus default_mime_action=allow \
    infected_handling=discard max_scan_size=4096 scan_fail_safe=on
appfilter modify profile=http name='SmartFilter Redirect' \
    service=embedded_objects deny_activex=no deny_java_applets=no \
    deny_scripting=no deny_soap=yes
appfilter modify profile=http name='SmartFilter Redirect' \
    service=reply_header denied_headers='' deny_binary_data=no \
    reply_header_action=allow reply_header_block=yes \
    reply_headers='Allow,Connection,Content-Encoding,Content-Length,Content-Type,Date,Keep-Alive,Last-Modified,Location,Proxy-Connection,Server,Transfer-Encoding,X-*'
appfilter modify profile=http name='SmartFilter Redirect' service=connection \
    allow_nthttps=no ftp_ports=21 ftp_upstream_proxy='' \
    http_ports=80,443,1024-65535 http_upstream_proxy='' upstream_proxies=''
appfilter modify profile=http name='SmartFilter Redirect' service=smartfilter \
    smartfilter_fail_safe=on
appfilter modify profile=http name='SmartFilter Redirect' \
    service=request_header denied_headers='' deny_binary_data=no \
    request_header_action=allow request_header_block=yes \
    request_headers='Accept,Accept-Charset,Accept-Encoding,Accept-Language,Allow,Authorization,Cache-Control,Connection,Content-Encoding,Content-Language,Content-Length,Content-Location,Content-MD5,Content-Range,Content-Type,Cookie,DAV,Date,Depth,Destination,Expect,Expires,From,Host,If,If-Match,If-Modified-Since,If-None-Match,If-Range,If-Unmodified-Since,Keep-Alive,Label,Last-Modified,Link,Lock-Token,Max-Forwards,Mime-Version,Overwrite,Pragma,Proxy-Authorization,Proxy-Connection,Range,Referer,TE,Timeout,Title,Trailer,Transfer-Encoding,UA-CPU,Upgrade,User-Agent,Via,Warning,X-*'
appfilter modify profile=http name='SmartFilter Redirect' \
    service=header_validation denied_urls='' \
    permits=baseline-control,checkin,checkout,connect,copy,delete,get,head,label,link,lock,merge,mkactivity,mkcol,mkworkspace,move,options,patch,post,propfind,proppatch,put,report,trace,uncheckout,unlink,unlock,update,version-control \
    require_version=yes strict_urls=no unicode=no urimax=1024 url_type=deny \
    v10=yes v11=yes
appfilter modify profile=http name='SmartFilter Redirect' service=ftp_control \
    allowed_connection_types=both ftp_commands=ftp_get,ftp_put
appfilter add profile=smtp name=default command_filter=on \
    comments='default smtp application defense.'
appfilter modify profile=smtp name=default service=connection \
    add_received_header=no banned_mailbox_characters=| \
    greeting_message='Service ready' max_message_size=0 max_pdu_size=1000 \
    max_recipients=100 pass_reply_text=no recipient_action=allow_all \
    recipients='' replace_client_domain='' replace_greeting_message=yes \
    replace_server_domain='' verify_helo_domain=no
appfilter modify profile=smtp name=default service=commands \
    extensions=AUTH,CHUNKING,ETRN,SIZE foreign_commands=''
appfilter modify profile=smtp name=default service=header_filter \
    header_name_action=allow_all header_names='' \
    header_value_action=allow_all header_values=''
appfilter add profile=h323 name=default call_timeout=86400 h323=off \
    comments='default h323 application defense.'
appfilter modify profile=h323 name=default service=h323 \
    permits=g711alaw56k,g711alaw64k,g711ulaw56k,g711ulaw64k,g72248k,g72256k,g72264k,g7231,g7231annexccapability,g728,g729,g729annexa,g729annexawannexb,g729wannexb,gsmenhancedfullrate,gsmfullrate,gsmhalfrate,h261,h262,h263,is11172audio,is11172video,is13818,nonstandardaudio,nonstandardvideo
appfilter add profile=socks5 name=default \
    comments='default socks5 application defense.'
appfilter modify profile=socks5 name=default service=socks5 allow_tcp=yes \
    allow_udp=yes ports='' v4=no
appfilter add profile=ssh name=default \
    comments='default ssh application defense.'
appfilter modify profile=ssh name=default service=channels \
    allowed_subsystems='' allowed_subsystems_control=allow_none \
    exec_command=yes exec_shell=yes local_port_forwarding=no \
    remote_port_forwarding=no sftp_control=whitelist \
    sftp_permits=read_file,read_directory x11_forwarding=no
appfilter modify profile=ssh name=default service=authentication \
    auth_methods=keyboard-interactive,password auth_methods_control=whitelist \
    banner=''
appfilter modify profile=ssh name=default service=client_encryption \
    cipher_methods=aes128-cbc,3des-cbc,blowfish-cbc,cast128-cbc,arcfour128,arcfour256,arcfour,aes192-cbc,aes256-cbc,rijndael-cbc-lysator-liu-se,aes128-ctr,aes192-ctr,aes256-ctr \
    fatal_bugs=rekey host_keys=Default_DSA_Key,Default_RSA_Key \
    key_exchange_methods=diffie-hellman-group-exchange-sha256,diffie-hellman-group-exchange-sha1,diffie-helman-group14-sha1,diffie-hellman-group1-sha1 \
    mac_methods=hmac-md5,hmac-sha1,hmac-ripemd160,hmac-ripemd160-openssh-com,hmac-sha1-96,hmac-md5-96 \
    rekey_bytes=1073741824 rekey_seconds=3600 software_version=OpenSSH_4.6
appfilter modify profile=ssh name=default service=server_encryption \
    cipher_methods=aes128-cbc,3des-cbc,blowfish-cbc,cast128-cbc,arcfour128,arcfour256,arcfour,aes192-cbc,aes256-cbc,rijndael-cbc-lysator-liu-se,aes128-ctr,aes192-ctr,aes256-ctr \
    fatal_bugs=rekey host_key_checking_policy=medium host_key_types=dsa,rsa \
    key_exchange_methods=diffie-hellman-group-exchange-sha256,diffie-hellman-group-exchange-sha1,diffie-helman-group14-sha1,diffie-hellman-group1-sha1 \
    mac_methods=hmac-md5,hmac-sha1,hmac-ripemd160,hmac-ripemd160-openssh-com,hmac-sha1-96,hmac-md5-96 \
    rekey_bytes=1073741824 rekey_seconds=3600 software_version=OpenSSH_4.6
appfilter add profile=sql name=default filter=off \
    comments='default sql application defense.'
appfilter modify profile=sql name=default service=filter permits=''
appfilter add profile=ipf name=default audit_deny_count=1 \
    audit_deny_interval=1 rate_limit=0 threshold=0 \
    comments='default ipf application defense.'
appfilter modify profile=ipf name=default service=advanced ipv6_permits='' \
    permits=''
appfilter add profile=mssql name=default \
    comments='default mssql application defense.'
appfilter add profile=ftp name=default antivirus=off filter=off \
    comments='default ftp application defense.'
appfilter modify profile=ftp name=default service=filter \
    permits=append,chdir,dele,get,mkdir,pasv,port,put,pwd,rename,rmdir,site,smnt
appfilter modify profile=ftp name=default service=antivirus \
    default_extension_action=allow infected_handling=discard \
    scan_commands=all scan_fail_safe=on
appfilter add profile=sip name=default allow_SIP_proxy_server=no \
    call_limit=86400 filter=off comments='default sip application defense.'
appfilter modify profile=sip name=default service=filter \
    permits=allowAudio,allowVideo
appfilter set ica_max_protocol_driver=20 ica_max_module=9
appfilter add profile=ica name=default filter=off \
    comments='default ica application defense.'
appfilter modify profile=ica name=default service=filter modules='' \
    protocol_drivers='' virtual_channels=''
appfilter add profile=t120 name=default t120=off \
    comments='default t120 application defense.'
appfilter modify profile=t120 name=default service=t120 \
    permits=MBFT,MS_CHAT,TSHARE,TSHARE_Legacy,WB
appfilter add profile=snmp name=default \
    comments='default snmp application defense.'
appfilter modify profile=snmp name=default service=snmp oid_filtering=off \
    oids='' pdu_size=535 permits=get v1=yes v2c=no
appfilter add profile=https name=default allow_ms_exchange=no \
    embedded_objects=off header_validation=off mime_antivirus=off \
    relax_rfc=none reply_header=off request_header=off smartfilter=off \
    ssl_decrypting=off type=server \
    comments='default https application defense.'
appfilter modify profile=https name=default service=mime_antivirus \
    default_mime_action=allow infected_handling=discard max_scan_size=4096 \
    scan_fail_safe=on
appfilter modify profile=https name=default service=ssl_decrypting \
    cert_name='' dh=off ssl2=on ssl3=on strength=40 tls1=on
appfilter modify profile=https name=default service=embedded_objects \
    deny_soap=no
appfilter modify profile=https name=default service=reply_header \
    denied_headers='' deny_binary_data=no reply_header_action=deny \
    reply_header_block=yes reply_headers=''
appfilter modify profile=https name=default service=connection \
    ftp_upstream_proxy='' http_upstream_proxy='' ports=80,443,1024-65535 \
    upstream_proxies=''
appfilter modify profile=https name=default service=smartfilter \
    smartfilter_fail_safe=on
appfilter modify profile=https name=default service=header_validation \
    denied_urls='' \
    permits=baseline-control,checkin,checkout,connect,copy,delete,get,head,label,link,lock,merge,mkactivity,mkcol,mkworkspace,move,options,patch,post,propfind,proppatch,put,report,trace,uncheckout,unlink,unlock,update,version-control \
    require_version=yes strict_urls=no unicode=no urimax=1024 url_type=deny \
    v10=yes v11=yes
appfilter modify profile=https name=default service=request_header \
    denied_headers='' deny_binary_data=no request_header_action=deny \
    request_header_block=yes request_headers=''
appfilter add profile=https name='SmartFilter Admin' allow_ms_exchange=no \
    embedded_objects=on header_validation=on mime_antivirus=off \
    relax_rfc=none reply_header=on request_header=on smartfilter=off \
    ssl_decrypting=on type=server \
    comments='SmartFilter administration application defense.'
appfilter modify profile=https name='SmartFilter Admin' \
    service=mime_antivirus default_mime_action=allow \
    infected_handling=discard max_scan_size=4096 scan_fail_safe=on
appfilter modify profile=https name='SmartFilter Admin' \
    service=ssl_decrypting cert_name=Default_SSL_Cert dh=off ssl2=on ssl3=on \
    strength=40 tls1=on
appfilter modify profile=https name='SmartFilter Admin' \
    service=embedded_objects deny_soap=yes
appfilter modify profile=https name='SmartFilter Admin' service=reply_header \
    denied_headers='' deny_binary_data=no reply_header_action=allow \
    reply_header_block=yes \
    reply_headers=Connection,Content-Type,Date,Keep-Alive,Refresh,Transfer-Encoding,WWW-Authenticate
appfilter modify profile=https name='SmartFilter Admin' service=connection \
    ftp_upstream_proxy='' http_upstream_proxy='' ports=80,443,1024-65535 \
    upstream_proxies=''
appfilter modify profile=https name='SmartFilter Admin' service=smartfilter \
    smartfilter_fail_safe=on
appfilter modify profile=https name='SmartFilter Admin' \
    service=header_validation denied_urls='' \
    permits=baseline-control,checkin,checkout,connect,copy,delete,get,head,label,link,lock,merge,mkactivity,mkcol,mkworkspace,move,options,patch,post,propfind,proppatch,put,report,trace,uncheckout,unlink,unlock,update,version-control \
    require_version=yes strict_urls=no unicode=no urimax=1024 url_type=deny \
    v10=yes v11=yes
appfilter modify profile=https name='SmartFilter Admin' \
    service=request_header denied_headers='' deny_binary_data=no \
    request_header_action=allow request_header_block=yes \
    request_headers='Accept,Accept-Charset,Accept-Encoding,Accept-Language,Allow,Authorization,Cache-Control,Connection,Content-Encoding,Content-Language,Content-Length,Content-Location,Content-MD5,Content-Range,Content-Type,Cookie,DAV,Date,Depth,Destination,Expect,Expires,From,Host,If,If-Match,If-Modified-Since,If-None-Match,If-Range,If-Unmodified-Since,Keep-Alive,Label,Last-Modified,Link,Lock-Token,Max-Forwards,Mime-Version,Overwrite,Pragma,Proxy-Authorization,Proxy-Connection,Range,Referer,TE,Timeout,Title,Trailer,Transfer-Encoding,UA-CPU,Upgrade,User-Agent,Via,Warning,X-*'
appfilter add profile=https name=Passport allow_ms_exchange=no \
    embedded_objects=on header_validation=on mime_antivirus=off \
    relax_rfc=none reply_header=on request_header=on smartfilter=off \
    ssl_decrypting=on type=server \
    comments='Single sign-on application defense.'
appfilter modify profile=https name=Passport service=mime_antivirus \
    default_mime_action=allow infected_handling=discard max_scan_size=4096 \
    scan_fail_safe=on
appfilter modify profile=https name=Passport service=ssl_decrypting \
    cert_name=Default_SSL_Cert dh=off ssl2=on ssl3=on strength=40 tls1=on
appfilter modify profile=https name=Passport service=embedded_objects \
    deny_soap=yes
appfilter modify profile=https name=Passport service=reply_header \
    denied_headers='' deny_binary_data=no reply_header_action=allow \
    reply_header_block=yes \
    reply_headers=Cache-Control,Connection,Content-Length,Content-Type,Pragma,Refresh
appfilter modify profile=https name=Passport service=connection \
    ftp_upstream_proxy='' http_upstream_proxy='' ports=80,443,1024-65535 \
    upstream_proxies=''
appfilter modify profile=https name=Passport service=smartfilter \
    smartfilter_fail_safe=on
appfilter modify profile=https name=Passport service=header_validation \
    denied_urls='' \
    permits=baseline-control,checkin,checkout,connect,copy,delete,get,head,label,link,lock,merge,mkactivity,mkcol,mkworkspace,move,options,patch,post,propfind,proppatch,put,report,trace,uncheckout,unlink,unlock,update,version-control \
    require_version=yes strict_urls=no unicode=no urimax=1024 url_type=deny \
    v10=yes v11=yes
appfilter modify profile=https name=Passport service=request_header \
    denied_headers='' deny_binary_data=no request_header_action=allow \
    request_header_block=yes \
    request_headers='Accept,Accept-Charset,Accept-Encoding,Accept-Language,Allow,Authorization,Cache-Control,Connection,Content-Encoding,Content-Language,Content-Length,Content-Location,Content-MD5,Content-Range,Content-Type,Cookie,DAV,Date,Depth,Destination,Expect,Expires,From,Host,If,If-Match,If-Modified-Since,If-None-Match,If-Range,If-Unmodified-Since,Keep-Alive,Label,Last-Modified,Link,Lock-Token,Max-Forwards,Mime-Version,Overwrite,Pragma,Proxy-Authorization,Proxy-Connection,Range,Referer,TE,Timeout,Title,Trailer,Transfer-Encoding,UA-CPU,Upgrade,User-Agent,Via,Warning,X-*'
appfilter add profile=mail name=default handling=discard kws=off \
    mime_antivirus=off size=off comments='default mail application defense.'
appfilter modify profile=mail name=default service=kws keywords='' \
    stopafter=minimum threshold=5
appfilter modify profile=mail name=default service=mime_antivirus \
    abort_mail=off default_mime_action=allow full_scan=on \
    infected_handling=discard max_scan_size=4096 scan_fail_safe=on
appfilter modify profile=mail name=default service=size max_size=1024
appfilter add profile=iiop name=default \
    comments='default iiop application defense.'
appfilter modify profile=iiop name=default service=iiop bidir_giop=off \
    filtering=off max_pdu_size=72000
appfilter add profile=group name=default ftp=default h323=default \
    http=default https=default ica=default iiop=default ipf=default \
    mail=default mssql=default sip=default smtp=default snmp=default \
    socks5=default sql=default ssh=default t120=default \
    comments='default application defense group.'
appfilter set defaultgroup=default
