cert add fw name=Default_SSL_Cert \
    dn='CN=demo.fjserv.net,O=Secure Computing,C=US' key_type=rsa
cert add key name=Default_DSA_Key \
    fingerprint=ac:36:d0:39:a5:3c:84:09:b8:66:a2:ee:3f:fc:01:78 key_type=dsa
cert add key name=Default_RSA_Key \
    fingerprint=f3:6a:a6:a8:51:49:20:97:dd:cd:37:d0:81:61:8f:91 key_type=rsa
