crontab set PATH=/etc:/bin:/sbin:/usr/bin:/usr/sbin SHELL=/bin/sh \
    HOME=/var/log
crontab modify name='audit export' command='cf export latest' \
    frequency=hourly minute=35 hour='*' dow='*' month='*' dom='*' \
    description='Run export utility 35 minutes past every hour' domain=Admn \
    status=disable user=admin cluster_member=shared
crontab modify name='roll audit' command='rollaudit -R d -w' frequency=daily \
    minute=0 hour=2 dow='*' month='*' dom='*' \
    description='Daily rollover of log files.' domain=Admn status=enable \
    user=admin cluster_member=shared
crontab modify name='log check' command=logcheck frequency=hourly \
    minute='*/5' hour='*' dow='*' month='*' dom='*' \
    description='Check system audit partition utilization hourly.' \
    domain=Admn status=enable user=admin cluster_member=shared
crontab modify name=cert command='cf cert updatedbs' frequency=hourly \
    minute=3,18,33,48 hour='*' dow='*' month='*' dom='*' \
    description='Auto Retrieve CRL and New Certificates' domain=Admn \
    status=disable user=admin cluster_member=shared
crontab modify name='log status' command=rollaudit frequency=daily minute=30 \
    hour='*/1' dow='*' month='*' dom='*' \
    description='Hourly check of the log files.' domain=Admn status=enable \
    user=admin cluster_member=shared
crontab modify name='licensed host check' command='cf license host check' \
    frequency=daily minute=0 hour=2 dow='*' month='*' dom='*' \
    description='Run licensed host check daily to warn about exceeding host limit' \
    domain=Admn status=enable user=admin cluster_member=shared
crontab modify name='license expiration check' command='cf license check' \
    frequency=daily minute=0 hour=2 dow='*' month='*' dom='*' \
    description='Run license check daily to warn about expired features.' \
    domain=Admn status=enable user=admin cluster_member=shared
crontab modify name=signature_ips_download \
    command='cf ips download > /dev/null' frequency=hourly minute=35 hour='*' \
    dow='*' month='*' dom='*' \
    description='IPS signature package automatic download' domain=Admn \
    status=disable user=admin cluster_member=shared
crontab modify name=geoip_download \
    command='cf geolocation download >/dev/null' frequency=daily minute=42 \
    hour=2 dow='*' month='*' dom='*' \
    description='geolocation database automatic download' domain=Admn \
    status=disable user=admin cluster_member=shared
crontab modify name='scheduled config backup' \
    command='cf config backup location=local type=scheduled' frequency=daily \
    minute=0 hour=3 dow='*' month='*' dom='*' \
    description='Run automated configuration backups' domain=Admn \
    status=disable user=admin cluster_member=demo.fjserv.net
crontab modify name=avengine_download \
    command='cf antivirus engine download >/dev/null' frequency=hourly \
    minute=43 hour='*' dow='*' month='*' dom='*' \
    description='Virus identify files automatic download' domain=Admn \
    status=disable user=admin cluster_member=shared
crontab modify name=package_download \
    command='cf package autoload > /dev/null' frequency=weekly minute=10 \
    hour=4 dow=6 month='*' dom='*' description='Run automated package load' \
    domain=Admn status=disable user=admin cluster_member=shared
crontab modify name=rollauditdb command=rollauditdb frequency=daily minute=0 \
    hour=2 dow='*' month='*' dom='*' \
    description='Daily rollover of report database' domain=Admn status=enable \
    user=admin cluster_member=shared
crontab modify name=package_run command='cf package autorun > /dev/null' \
    frequency=daily minute=10 hour=10 dow='*' month='*' dom='*' \
    description='Run automated package install/uninstall or rollback' \
    domain=Admn status=disable user=admin cluster_member=demo.fjserv.net
