package set admin_email=root auto_import=off auto_rollback=off \
    cdrom_device=/dev/cdrom directory=packages/sidewinder/7.0.1 \
    email_reports=off import_default=ftp import_freq=weekly install_pkgs='' \
    password='' port=21 run_time='' server=downloads.securecomputing.com \
    uninstall_pkgs='' user=anonymous
