server enable common_sendmail
server disable burb=internal ripd
server disable burb=VPN ripd
server disable burb=external ripd
server disable ospfd
server enable monitord
server disable rtsp
server disable burb=Firewall fwregisterd
server enable ifmd
server enable cron
server disable ecobrad
server enable burb=Firewall scobrad
server disable dhcrelay
server disable changepw
server disable sunrpc
server enable burb=Firewall nss
server enable burb=internal nss
server enable burb=VPN nss
server enable burb=external nss
server disable khd
server disable watchdogd
server enable timeperiodd
server enable acld
server disable auditdbd
server enable auditbotd
server disable backchanneld
server disable isakmp
server disable ica-udp
server disable faild
server disable burb=external named-internet
server disable named-standby
server disable sfifp
server disable amirmonitor
server disable sfagent
server disable utt_client
server enable ipmid
server disable burb=internal sendmail
server disable burb=VPN sendmail
server disable burb=external sendmail
server disable burb=internal ntp
server disable burb=VPN ntp
server disable burb=external ntp
server disable auditsql
server enable psd
server disable burb=Firewall entrelayd
server disable virus-scan
server disable utt_server
server enable getty
server disable named-unbound
server disable bgpd
server disable ispd
server disable burb=internal snmpd
server disable burb=VPN snmpd
server disable burb=external snmpd
server enable burb=internal sshd
server disable burb=VPN sshd
server disable burb=external sshd
server enable hostd
server enable syslogd
server enable udpproxy
server enable cmd
server disable resolverd
server enable auditd
server disable burb=internal sidfilter
server disable burb=VPN sidfilter
server disable burb=external sidfilter
server disable xorp_rtrmgr
server disable shund
server disable burb=internal kmvfilter
server disable burb=VPN kmvfilter
server disable burb=external kmvfilter
server disable burb=Firewall ccmd
server disable realmedia
server disable ping
server enable zebra
