service modify name='Admin Console' agent='Admin Console' tcp_idle_timeout=0 \
    tcp_ports=9003 description='Admin Console'
service add name=Any agent='TCP/UDP Packet Filter' direction=uni-directional \
    require_udp_checksum=0 reset=1 restrict_source_port=0 \
    stateful_inspection=1 stateful_session_failover=1 tcp_connect_timeout=15 \
    tcp_idle_timeout=7200 tcp_ports=1-65535 udp_idle_timeout=300 \
    udp_ports=1-65535 description=''
service modify name='DHCP Relay' agent='DHCP Relay Agent' udp_ports=67 \
    description='DHCP Relay agent'
service add name='ICMP Packet Filter' agent='ICMP Packet Filter' \
    direction=uni-directional request_filtering=echo,info,timestamp \
    response_timeout=15 stateful_inspection=1 stateful_session_failover=1 \
    description=''
service modify name='UTT Client' agent='UDP-TCP Tunnel Client' fastpath=0 \
    tcp_idle_timeout=60 tcp_ports=443 udp_idle_timeout=60 udp_ports='' \
    description='Client end of the UDP to TCP Tunnel service'
service modify name='UTT Server' agent='UDP-TCP Tunnel Server' fastpath=0 \
    tcp_idle_timeout=60 tcp_ports=443 udp_idle_timeout=60 udp_ports='' \
    description='Server end of the UDP to TCP tunnel service'
service modify name=X500 agent='Generic Proxy' fastpath=1 \
    tcp_idle_timeout=7200 tcp_ports=103 description='X500 proxy'
service modify name=Xwindows agent='Generic Proxy' fastpath=1 \
    tcp_idle_timeout=3600 tcp_ports=6000 description='Xwindows proxy'
service modify name=bgpd agent='BGP Routing Server' tcp_ports=179 \
    description='BGP Routing Server'
service modify name=ccmd agent='CommandCenter Management Server' \
    tcp_idle_timeout=7200 tcp_ports=9005 \
    description='CommandCenter firewall control'
service modify name=ccms agent='CommandCenter Management Server' \
    tcp_idle_timeout=7200 tcp_ports=9005,9006 \
    description='CommandCenter firewall status'
service modify name=changepw agent='Change Password Server' \
    tcp_idle_timeout=1800 tcp_ports=1999 description='Change Password Server'
service modify name=dns agent='DNS Proxy' tcp_idle_timeout=3600 tcp_ports=53 \
    udp_idle_timeout=60 udp_ports=53 description='DNS proxy'
service modify name=entrelayd agent='Enterprise Relay Server' \
    tcp_idle_timeout=7200 tcp_ports=9004 \
    description='Enterprise Relay Server'
service modify name=fwregisterd agent='Cluster Registration Server' \
    tcp_idle_timeout=7200 tcp_ports=9010 \
    description='Cluster Registration Server'
service modify name=fwregisterp agent='Cluster Registration Client' \
    tcp_idle_timeout=7200 tcp_ports=9010 \
    description='Cluster Registration Client'
service modify name=http agent='HTTP Proxy' connection_type=transparent \
    fastpath=1 tcp_idle_timeout=60 tcp_ports=80 description='HTTP proxy'
service modify name=https agent='HTTPS Proxy' connection_type=transparent \
    fastpath=1 tcp_idle_timeout=60 tcp_ports=443 description='HTTPS proxy'
service modify name=isakmp agent='ISAKMP Server' udp_ports=500,4500 \
    description='ISAKMP Server'
service modify name=login agent='Login Console' description='Login Console'
service modify name=ospfd agent='OSPF Routing Server' \
    description='OSPF Routing Server'
service modify name=pimd agent='XORP server' description='Xorp PIMD'
service modify name=ping agent='Ping Proxy' fastpath=1 response_timeout=180 \
    description='Ping proxy'
service modify name=realmedia agent='RealMedia Proxy' tcp_ports=7070 \
    udp_idle_timeout=3600 description='RealMedia proxy'
service modify name=ripd agent='RIP Routing Server' udp_ports=520 \
    description='RIP Routing Server'
service modify name=rtsp agent='RTSP Proxy' tcp_ports=554 \
    udp_idle_timeout=3600 description='RTSP proxy'
service modify name=sendmail agent='Sendmail Server' tcp_ports=25 \
    description='Sendmail Server'
service modify name=sfadmin agent='SmartFilter Admin Console' \
    tcp_idle_timeout=7200 tcp_ports=9013 \
    description='SmartFilter Admin Console'
service modify name=sfredirect agent='SmartFilter Redirect Server' \
    tcp_idle_timeout=7200 tcp_ports=9015 \
    description='SmartFilter Redirect Server'
service modify name=shun agent='IP Shunning Server' udp_idle_timeout=300 \
    udp_ports=8111 description='IP Shunning Server'
service modify name=sip agent='SIP Proxy' udp_idle_timeout=60 udp_ports=5060 \
    description='SIP proxy'
service modify name=snmp agent='SNMP Proxy' udp_idle_timeout=60 udp_ports=161 \
    description='snmp proxy'
service modify name=snmpd agent='SNMP Agent' allowed_get_communities='' \
    enable_auth_failure_trap=1 trap_destinations='' udp_ports=161 \
    description='SNMP Agent'
service modify name=ssh agent='SSH Proxy' fastpath=1 tcp_idle_timeout=7200 \
    tcp_ports=22 description='ssh proxy'
service modify name=sshd agent='SSH Server' tcp_idle_timeout=7200 \
    tcp_ports=22 description='SSH Server'
service modify name=ssod agent='Passport Authenticator' tcp_idle_timeout=7200 \
    tcp_ports=8111 description='Single Sign On Server'
service modify name=streamworks agent='Generic Proxy' fastpath=1 \
    tcp_idle_timeout=7200 tcp_ports=1558 description='streamworks proxy'
service modify name=sunrpc agent='Sun RPC Proxy' tcp_idle_timeout=30 \
    tcp_ports=111 udp_idle_timeout=30 udp_ports=111 \
    description='SunRPC proxy'
service modify name=sybase agent='Generic Proxy' fastpath=1 \
    tcp_idle_timeout=7200 tcp_ports=4000 description='sybase proxy'
service modify name=syslog agent='Generic Proxy' fastpath=1 \
    udp_idle_timeout=300 udp_ports=514 description='syslog proxy'
service modify name=t120 agent='T120 Proxy' fastpath=1 tcp_idle_timeout=7200 \
    tcp_ports=1503 description='T120 proxy'
service modify name=telnet agent='Telnet Proxy' connection_type=transparent \
    fastpath=1 tcp_idle_timeout=7200 tcp_ports=23 description='Telnet proxy'
service modify name=telnetd agent='Telnet Server' tcp_idle_timeout=7200 \
    tcp_ports=23 description='Telnet Server'
service modify name=wais agent='Generic Proxy' fastpath=1 \
    tcp_idle_timeout=3600 tcp_ports=210 description='wais proxy'
service modify name=whois agent='Generic Proxy' fastpath=1 \
    tcp_idle_timeout=1800 tcp_ports=43 description='whois proxy'
service modify name=wins agent='Generic Proxy' fastpath=1 \
    udp_idle_timeout=300 udp_ports=42 description='wins proxy'
