ssl set cert_name=Default_SSL_Cert dh=1 proxy=ccmd ssl2=1 ssl3=1 strength=40 \
    tls1=1
ssl set cert_name=Default_SSL_Cert dh=1 proxy=cobra ssl2=1 ssl3=1 strength=40 \
    tls1=1
ssl set cert_name=Default_SSL_Cert dh=1 proxy=fwregister ssl2=1 ssl3=1 \
    strength=40 tls1=1
ssl set dh=0 proxy=entrelayd ssl2=1 ssl3=1 strength=40 tls1=1
