utt modify tunnel name=SecureAlert enabled=no udp_addr=127.0.0.1 \
    udp_port=9006 udp_size=8192 tcp_addr= tcp_port=9006 idle_timeout=300 \
    reply_timeout=0
utt modify tunnel name=TrustedSource enabled=no udp_addr=127.0.0.1 \
    udp_port=7000 udp_size=102400 tcp_addr=tunnel.swdr.trustedsource.org \
    tcp_port=443 idle_timeout=120 reply_timeout=10
