agent modify name='Admin Console' type=server logging_interval=0 \
    banner_required=0
agent modify name='BGP Routing Server' type=server logging_interval=0
agent modify name='Change Password Server' type=server logging_interval=0
agent modify name='CommandCenter Management Server' type=server
agent modify name='DHCP Relay Agent' type=server
agent modify name='DNS Proxy' type=proxy logging_interval=0
agent modify name='Enterprise Relay Server' type=server
agent modify name='FTP Packet Filter' type=ipfilter
agent modify name='FTP Proxy' type=proxy logging_interval=0 maxconns=8000
agent modify name='Cluster Registration Client' type=proxy
agent modify name='Cluster Registration Server' type=server
agent modify name='TCP/UDP Packet Filter' intraburb_forwarding=0 \
    max_tcp_sessions=2500 max_udp_sessions=2500 type=ipfilter \
    reserved_ports=9120-9995
agent modify name='Generic Proxy' type=proxy logging_interval=0 maxconns=8000
agent modify name='H323 Proxy' type=proxy logging_interval=0
agent modify name='HTTP Proxy' type=proxy logging_interval=0 maxconns=8000
agent modify name='HTTPS Proxy' type=proxy logging_interval=0 maxconns=8000
agent modify name='Citrix Proxy' type=proxy logging_interval=0 maxconns=8000
agent modify name='ICMP Packet Filter' type=ipfilter
agent modify name='IIOP Proxy' type=proxy logging_interval=0
agent modify name='ISAKMP Server' type=server
agent modify name='Login Console' type=server
agent modify name='Mail Proxy' type=proxy logging_interval=0 maxconns=8000
agent modify name='MS-SQL Proxy' type=proxy logging_interval=0 maxconns=8000
agent modify name='Oracle Proxy' type=proxy logging_interval=0 maxconns=8000
agent modify name='OSPF Routing Server' type=server logging_interval=0
agent modify name='Passport Authenticator' type=server logging_interval=0
agent modify name='Ping Proxy' type=proxy logging_interval=0
agent modify name='Other Protocol Packet Filter' type=ipfilter
agent modify name='RealMedia Proxy' type=proxy logging_interval=0
agent modify name='RIP Routing Server' type=server logging_interval=0
agent modify name='RSH Proxy' type=proxy logging_interval=0
agent modify name='RTSP Proxy' type=proxy logging_interval=0
agent modify name='Sendmail Server' burb_configuration_files='' type=server \
    enable_rule_checking=0
agent modify name='SmartFilter Admin Console' type=server \
    change_management_password='' logging_interval=0
agent modify name='SmartFilter Redirect Server' type=server \
    logging_interval=0
agent modify name='IP Shunning Server' type=server
agent modify name='SIP Proxy' type=proxy logging_interval=0
agent modify name='SNMP Agent' type=server
agent modify name='SNMP Proxy' type=proxy logging_interval=0
agent modify name='SOCKS Proxy' type=proxy logging_interval=0 maxconns=8000
agent modify name='SSH Proxy' type=proxy logging_interval=0 maxconns=8000
agent modify name='SSH Server' type=server
agent modify name='Sun RPC Proxy' type=proxy logging_interval=0
agent modify name='T120 Proxy' type=proxy logging_interval=0
agent modify name='Telnet Server' type=server
agent modify name='Telnet Proxy' type=proxy logging_interval=0
agent modify name='UDP-TCP Tunnel Client' type=server
agent modify name='UDP-TCP Tunnel Server' type=server
agent modify name='XORP server' type=server logging_interval=0
