antivirus engine set enable_dl_notice=off allow_encrypt=off \
    stats_update_rate=4 max_subfiles=2000 auto_engine_update=off \
    dl_dir=cgi-bin/avupdate socket_size_limit=64 archive_scan_buffer_size=128 \
    memfile_buffer_size=50 download_email='' \
    dl_site=downloads.securecomputing.com
antivirus scanner set scanner_restart_time=60 stat_update_delay=240 \
    scanner_restart_limit=2
antivirus scanner modify upper_limit=1048576 server_cnt=2
antivirus scanner modify upper_limit=102400 server_cnt=3
antivirus scanner modify upper_limit=unlimited server_cnt=3
antivirus scanner modify upper_limit=40960 server_cnt=2
