audit set output_gmt=no src_as_attack=no ticket_backup_generations=50 \
    ticket_creates_backup=no ticket_id_required=no turn_off_probes=no
audit add filter name='buffer overflow attack' \
    comments='Detects attempted buffer overflow attacks targeted at systems protected by the Sidewinder appliance.' \
    filter_type=attack number=0 sacap_filter=AUDIT_X_BUFFER_OVERFLOW
audit add filter name='DOS all' \
    comments='Detects Denial of Service attacks of all severities. This attack category also detects all severities of TCP SYN attacks and proxy flood attacks.' \
    filter_type=attack number=0 sacap_filter=AUDIT_X_DOS
audit add filter name='TCP SYN attack' \
    comments='Detects a possible attempt to overrun the Sidewinder appliance with connection attempts.' \
    filter_type=attack number=11 sacap_filter=AUDIT_X_SYNATTACK
audit add filter name='DOS severe' \
    comments='Detects severe Denial of Service attacks. This attack category also detects TCP SYN attacks and proxy flood attacks. Severe attacks indicate something is occurring that an administrator should know.' \
    filter_type=attack number=0 sacap_filter=AUDIT_X_DOS_SEVERE
audit add filter name='host license exceeded' \
    comments='Detects when the number of hosts protected by the Sidewinder appliance exceeds the number of licensed hosts.' \
    filter_type=system number=14 sacap_filter='event AUDIT_R_LICEXCEEDED'
audit add filter name=syslog \
    comments='Detects all audit attacks and system events created via syslog.' \
    filter_type=system number=0 sacap_filter=AUDIT_X_SYSLOG
audit add filter name='system critical and severe' \
    comments='Detects critical and severe system events including hardware failures, critical and severe software failures, failover events, license expiration, log overflows, and IPsec errors. Critical system events indicate a component or subsystem stopped working, that the system is going down (expectedly or unexpectedly) or that the system is not expected to work again without intervention. Severe attacks indicate something is occurring that an administrator should know.' \
    filter_type=system number=0 sacap_filter=AUDIT_X_SYSTEM_CRITICAL_SEVERE
audit add filter name='system critical' \
    comments='Detects all critical system events, including hardware failures, critical software failures, and failover events. Critical system events indicate a component or subsystem stopped working, that the system is going down (expectedly or unexpectedly) or that the system is not expected to work again without intervention.' \
    filter_type=system number=0 sacap_filter=AUDIT_X_SYSTEM_CRITICAL
audit add filter name='ACL deny' \
    comments='Detects when a connection is denied by a rule in the active policy.' \
    filter_type=attack number=4 sacap_filter='event AUDIT_R_ACLDENY'
audit add filter name='proxy flood' \
    comments='Detects potential connection attack attempts. A connection attack is defined as one or more addresses launching numerous proxy connection attempts to try and flood the system.  When NSS receives more connection attempts than it can handle for a proxy, new connections to that proxy are briefly delayed (to allow the proxy to \'catch up\'), and the attack is audited.' \
    filter_type=attack number=2 sacap_filter='event AUDIT_R_PROXY_FLOODED'
audit add filter name='Access Control List' \
    comments='Detects all ACL audit events.' filter_type=system number=0 \
    sacap_filter=AUDIT_X_ACL
audit add filter name='network traffic' \
    comments='Detects all connections that successfully pass through the Sidewinder appliance.' \
    filter_type=system number=1 sacap_filter='type AUDIT_T_NETTRAFFIC'
audit add filter name='signature IPS intrusion blackholed' \
    comments='Detects attacks identified by the signature-based IPS where the attacker was blackholed.' \
    filter_type=attack number=2 \
    sacap_filter='event AUDIT_R_IPS_NET_INTRUSION_BLACKHOLED'
audit add filter name='log overflow' \
    comments='Detects when the log partition is close to filling up.' \
    filter_type=system number=10 sacap_filter='type AUDIT_T_LOGOVERFLOW'
audit add filter name=spam \
    comments='Detects attacks of all severities that are spam.' \
    filter_type=attack number=0 sacap_filter=AUDIT_X_SPAM
audit add filter name='IPFilter deny' \
    comments='Detects when a connection is denied by the active IPFilter policy.' \
    filter_type=attack number=4 \
    sacap_filter='event AUDIT_R_NET_IP_IPFDISCARD'
audit add filter name='denied authentication' \
    comments='Detects when a user attempts to authenticate and enters invalid data. For example, if a user is required to enter a password and entered it incorrectly, the denied auth event would log the event.' \
    filter_type=attack number=5 sacap_filter=AUDIT_X_AUTH_DENY
audit add filter name='keyword filter failure' \
    comments='Detects when an SMTP mail message is rejected due to a configured keyword filter.' \
    filter_type=attack number=7 sacap_filter='event AUDIT_R_SMTP_KW_DENY'
audit add filter name='protocol violation severe' \
    comments='Detects severe attacks that violate proxy protocols (HTTP, Telnet, FTP, etc.). Severe attacks indicate something is occurring that an administrator should know.' \
    filter_type=attack number=0 \
    sacap_filter=AUDIT_X_PROTOCOL_VIOLATION_SEVERE
audit add filter name='policy violation severe' \
    comments='Detects severe attacks that violate the active policy. This attack category also detects failed authentication attacks, ACL and IPFilter deny attacks, and Type Enforcement error attacks. Severe attacks indicate something is occurring that an administrator should know.' \
    filter_type=attack number=0 sacap_filter=AUDIT_X_POLICY_VIOLATION_SEVERE
audit add filter name='network probe' \
    comments='Detects network probe attacks, which occur any time a user attempts to connect or send a message to a TCP or UDP port which has no service.  Note: The appliance does not blackhole netprobe attacks, as they are likely to be Denial of Service attacks from spoofed source addresses.' \
    filter_type=attack number=6 sacap_filter=AUDIT_X_NETPROBE
audit add filter name=VPN comments='Detects VPN audit events.' \
    filter_type=system number=0 sacap_filter=AUDIT_X_VPN
audit add filter name='license expiration' \
    comments='Detects when a licensed feature is about to expire.' \
    filter_type=system number=0 sacap_filter='event AUDIT_R_LICEXPIRE'
audit add filter name='ACL allow' \
    comments='Detects when a connection is allowed by a rule in the active policy.' \
    filter_type=system number=0 sacap_filter='event AUDIT_R_ACLALLOW'
audit add filter name='signature IPS intrusion deny' \
    comments='Detects attacks identified by the signature-based IPS where the offending network session was dropped, or rejected, or the attacker was blackholed.' \
    filter_type=attack number=2 \
    sacap_filter='event AUDIT_R_IPS_NET_INTRUSION_DROPPED || event AUDIT_R_IPS_NET_INTRUSION_REJECTED || event AUDIT_R_IPS_NET_INTRUSION_BLACKHOLED'
audit add filter name=error \
    comments='Detects all system events identified as AUDIT_T_ERROR in the audit stream.' \
    filter_type=system number=0 sacap_filter='type AUDIT_T_ERROR'
audit add filter name='attack severe' \
    comments='Detects severe attacks. This detects Application Defense violation attacks, buffer overflow attacks, general attacks, DOS attacks, policy violation attacks, protocol violation attacks, virus attacks and spam attacks. Severe attacks indicate something is occurring that an administrator should know.' \
    filter_type=attack number=0 sacap_filter=AUDIT_X_ATTACK_CRITICAL_SEVERE
audit add filter name='spam severe' \
    comments='Detects severe attacks that are spam.' filter_type=attack \
    number=0 sacap_filter=AUDIT_X_SPAM_SEVERE
audit add filter name='Application Defense violation severe' \
    comments='Detects when severe attacks violate active policy defined by Application Defenses, including mime and keyword filter reject audits.' \
    filter_type=attack number=0 sacap_filter=AUDIT_X_APPDEF_VIOLATION_SEVERE
audit add filter name=virus \
    comments='Detects attacks of all severities that are viruses.' \
    filter_type=attack number=0 sacap_filter=AUDIT_X_VIRUS
audit add filter name=TrustedSource \
    comments='Detects attacks identified as spam by TrustedSource.' \
    filter_type=attack number=0 sacap_filter='event AUDIT_R_REPUTATION'
audit add filter name='system all' \
    comments='Detects all system events of all severities, including hardware and software failures, failover events, license expiration, host license exceeded, log overflows, and IPsec errors.' \
    filter_type=system number=0 sacap_filter=AUDIT_X_SYSTEM
audit add filter name='attack all' \
    comments='This detects all severities of Application Defense violation attacks, buffer overflow attacks, DOS attacks, general attacks, policy violation attacks, protocol violation attacks, virus attacks, and spam attacks.' \
    filter_type=attack number=2 sacap_filter=AUDIT_X_ATTACK
audit add filter name='signature IPS intrusion all' \
    comments='Detects all attacks identified by the signature-based IPS. This category detects attacks that were denied, dropped, or rejected, as well as suspected attacks that were allowed but were audited by IPS.' \
    filter_type=attack number=2 sacap_filter='category AUDIT_C_IPS'
audit add filter name='Application Defense violation all' \
    comments='Detects attacks of all severities that violate active policy defined by Application Defenses. This attack category includes mime and keyword filter failure attacks.' \
    filter_type=attack number=0 sacap_filter=AUDIT_X_APPDEF_VIOLATION
audit add filter name='policy violation all' \
    comments='Detects attacks of all severities that violate the active policy. This attack category also detects all severities of failed authentication attacks, ACL and IPFilter deny attacks, and Type Enforcement error attacks.' \
    filter_type=attack number=0 sacap_filter=AUDIT_X_POLICY_VIOLATION
audit add filter name='hardware software failure' \
    comments='Detects when a hardware or software component fails.' \
    filter_type=system number=26 \
    sacap_filter='type AUDIT_T_HARD_FAIL || (type AUDIT_T_SOFT_FAIL && (priority AUDIT_P_CRIT || priority AUDIT_P_MAJOR))'
audit add filter name='virus severe' \
    comments='Detects severe attacks that are viruses.' filter_type=attack \
    number=0 sacap_filter=AUDIT_X_VIRUS_SEVERE
audit add filter name='general attack all' \
    comments='Detects general attacks of all severities that do not fall into the pre-defined categories.' \
    filter_type=attack number=0 sacap_filter=AUDIT_X_GENERAL_ATTACK
audit add filter name='HA failover' \
    comments='Detects when a failover IP address changes because a High Availability cluster failed over to its secondary/standby.' \
    filter_type=system number=9 sacap_filter=AUDIT_X_FAILOVER
audit add filter name='Type Enforcement' \
    comments='Detects when there is a TE violation due to an unauthorized user or process attempting to perform an illegal operation.' \
    filter_type=attack number=3 sacap_filter=AUDIT_X_TE
audit add filter name='general attack severe' \
    comments='Detects severe general attacks that do not fall into the pre-defined categories. Severe attacks indicate something is occurring that an administrator should know.' \
    filter_type=attack number=0 sacap_filter=AUDIT_X_GENERAL_ATTACK_SEVERE
audit add filter name='config change' \
    comments='Detects when the Sidewinder\'s configuration changes.' \
    filter_type=system number=0 sacap_filter='type AUDIT_T_CFG_CHANGE'
audit add filter name='protocol violation all' \
    comments='Detects attacks of all severities that violate protocol compliance.' \
    filter_type=attack number=0 sacap_filter=AUDIT_X_PROTOCOL_VIOLATION
audit add filter name='not config change' \
    comments='Detects all attack and system events which are not configuration changes.' \
    filter_type=system number=0 sacap_filter='not type AUDIT_T_CFG_CHANGE'
audit add filter name='all audit' \
    comments='Detects all attack and system events, regardless of characteristics.' \
    filter_type=system number=0 sacap_filter=''
audit add filter name='IPsec error' \
    comments='Detects when traffic generates IPsec errors.' \
    filter_type=system number=8 sacap_filter=AUDIT_X_IPSEC
audit add email name=Attack_Default addresses=root
audit add email name=System_Default addresses=root
audit add auditbot name='TCP SYN attack' filter='TCP SYN attack' blackhole=0 \
    email=Attack_Default enabled=on interval=300 period=0 reset=no \
    sb_percentage=0 secure_alert=yes snmp_trap=no threshold=1
audit add auditbot name='virus filter failure' filter='virus severe' \
    blackhole=0 email=Attack_Default enabled=off interval=300 period=30 \
    reset=yes sb_percentage=0 secure_alert=yes snmp_trap=no threshold=5
audit add auditbot name='host license exceeded' \
    filter='host license exceeded' blackhole=0 email=System_Default \
    enabled=on interval=120 period=0 reset=yes sb_percentage=0 \
    secure_alert=yes snmp_trap=no threshold=1
audit add auditbot name='network traffic' filter='network traffic' \
    blackhole=0 email=System_Default enabled=off interval=300 period=30 \
    reset=yes sb_percentage=0 secure_alert=yes snmp_trap=no threshold=1000
audit add auditbot name='ACL deny' filter='ACL deny' blackhole=0 \
    email=Attack_Default enabled=on interval=300 period=30 reset=yes \
    sb_percentage=0 secure_alert=yes snmp_trap=no threshold=5
audit add auditbot name='spam filter failure' filter='spam severe' \
    blackhole=0 email=Attack_Default enabled=off interval=300 period=30 \
    reset=yes sb_percentage=0 secure_alert=yes snmp_trap=no threshold=5
audit add auditbot name='IPFilter deny' filter='IPFilter deny' blackhole=0 \
    email=Attack_Default enabled=off interval=300 period=30 reset=yes \
    sb_percentage=0 secure_alert=yes snmp_trap=no threshold=5
audit add auditbot name='Type Enforcement' filter='Type Enforcement' \
    blackhole=0 email=Attack_Default enabled=on interval=300 period=0 \
    reset=yes sb_percentage=0 secure_alert=yes snmp_trap=no threshold=1
audit add auditbot name='keyword filter failure' \
    filter='keyword filter failure' blackhole=0 email=Attack_Default \
    enabled=off interval=300 period=30 reset=yes sb_percentage=0 \
    secure_alert=yes snmp_trap=no threshold=5
audit add auditbot name='signature IPS intrusion blackholed' \
    filter='signature IPS intrusion blackholed' blackhole=300 \
    email=Attack_Default enabled=off interval=120 period=0 reset=yes \
    sb_percentage=50 secure_alert=yes snmp_trap=no threshold=1
audit add auditbot name='license expiration' filter='license expiration' \
    blackhole=0 email=System_Default enabled=on interval=120 period=0 \
    reset=yes sb_percentage=0 secure_alert=yes snmp_trap=no threshold=1
audit add auditbot name='network probe' filter='network probe' blackhole=0 \
    email=Attack_Default enabled=on interval=300 period=30 reset=yes \
    sb_percentage=0 secure_alert=yes snmp_trap=no threshold=50
audit add auditbot name='signature IPS intrusion deny' \
    filter='signature IPS intrusion deny' blackhole=0 email=Attack_Default \
    enabled=off interval=120 period=0 reset=yes sb_percentage=0 \
    secure_alert=yes snmp_trap=no threshold=1
audit add auditbot name='HA failover' filter='HA failover' blackhole=0 \
    email=System_Default enabled=on interval=120 period=0 reset=yes \
    sb_percentage=0 secure_alert=yes snmp_trap=no threshold=1
audit add auditbot name=TrustedSource filter=TrustedSource blackhole=21600 \
    email=Attack_Default enabled=off interval=120 period=0 reset=yes \
    sb_percentage=100 secure_alert=yes snmp_trap=no threshold=1
audit add auditbot name='signature IPS intrusion all' \
    filter='signature IPS intrusion all' blackhole=0 email=Attack_Default \
    enabled=off interval=120 period=0 reset=yes sb_percentage=0 \
    secure_alert=yes snmp_trap=no threshold=1
audit add auditbot name='hardware software failure' \
    filter='hardware software failure' blackhole=0 email=System_Default \
    enabled=on interval=60 period=0 reset=yes sb_percentage=0 \
    secure_alert=yes snmp_trap=yes threshold=1
audit add auditbot name='proxy flood' filter='proxy flood' blackhole=300 \
    email=Attack_Default enabled=on interval=120 period=10 reset=yes \
    sb_percentage=50 secure_alert=yes snmp_trap=no threshold=5
audit add auditbot name='log overflow' filter='log overflow' blackhole=0 \
    email=System_Default enabled=on interval=0 period=0 reset=yes \
    sb_percentage=0 secure_alert=yes snmp_trap=no threshold=1
audit add auditbot name=IPS filter='attack severe' blackhole=0 \
    email=Attack_Default enabled=on interval=300 period=0 reset=no \
    sb_percentage=0 secure_alert=yes snmp_trap=no threshold=1
audit add auditbot name='denied authentication' \
    filter='denied authentication' blackhole=0 email=Attack_Default \
    enabled=on interval=300 period=60 reset=yes sb_percentage=0 \
    secure_alert=yes snmp_trap=no threshold=20
audit add auditbot name='IPsec error' filter='IPsec error' blackhole=0 \
    email=System_Default enabled=off interval=300 period=60 reset=yes \
    sb_percentage=0 secure_alert=yes snmp_trap=no threshold=10
audit modify sysctl name=default count=1 enabled=on interval=1 protocol=arp
audit modify sysctl name=default count=1 enabled=on interval=1 protocol=udp
audit modify sysctl name='packet too big' enabled=on protocol=udp
audit modify sysctl name=netprobe count=0 enabled=on protocol=udp
audit modify sysctl name='zero source port' enabled=on protocol=udp
audit modify sysctl name='source broadcast address' enabled=on protocol=ip
audit modify sysctl name='reassembly too long' enabled=on protocol=ip
audit modify sysctl name='incorrect header length' enabled=on protocol=ip
audit modify sysctl name='invalid destination address' enabled=on protocol=ip
audit modify sysctl name='bad options' enabled=on protocol=ip
audit modify sysctl name='burb mismatch' count=0 enabled=on protocol=ip
audit modify sysctl name='source multicast address' enabled=on protocol=ip
audit modify sysctl name='excessively fragmented packet' enabled=on \
    protocol=ip
audit modify sysctl name='unreachable destination address' count=1 enabled=on \
    interval=1 protocol=ip
audit modify sysctl name='missing fragment for packet' count=1 enabled=on \
    interval=1 protocol=ip
audit modify sysctl name=proto_probe count=0 enabled=on protocol=ip
audit modify sysctl name='fragment attack - Rose' enabled=on protocol=ip
audit modify sysctl name='fragment attack - New Dawn' enabled=on protocol=ip
audit modify sysctl name='incorrect source address for interface' enabled=off \
    protocol=ip
audit modify sysctl name='source routed packet' enabled=on protocol=ip
audit modify sysctl name=default count=1 enabled=on interval=1 protocol=ip
audit modify sysctl name='forged loopback address' enabled=on protocol=ip
audit modify sysctl name='RST with no data transferred' enabled=on \
    protocol=tcp
audit modify sysctl name='forged source address' enabled=on protocol=tcp
audit modify sysctl name='syn hijack on active connection' enabled=on \
    protocol=tcp
audit modify sysctl name='aborted connection attempt' enabled=off \
    protocol=tcp
audit modify sysctl name='LAND DOS attack' enabled=on protocol=tcp
audit modify sysctl name=netprobe count=0 enabled=on protocol=tcp
audit modify sysctl name='SYN with FIN scan' enabled=off protocol=tcp
audit modify sysctl name='out of window RST' enabled=off protocol=tcp
audit modify sysctl name='invalid sequence on SYN-ACK' enabled=on \
    protocol=tcp
audit modify sysctl name='crafted packet probe' enabled=on protocol=tcp
audit modify sysctl name='SYN flood' enabled=on protocol=tcp
audit modify sysctl name=v4tov6only count=0 enabled=on protocol=tcp
audit modify sysctl name='invalid offset' enabled=on protocol=tcp
audit modify sysctl name=default count=1 enabled=on interval=1 protocol=tcp
audit modify sysctl name='SYN-ACK probe' enabled=on protocol=tcp
audit modify sysctl name='address scope conflict' enabled=on protocol=ip6
audit modify sysctl name='hop-by-hop header malformed' enabled=on \
    protocol=ip6
audit modify sysctl name='invalid version' enabled=on protocol=ip6
audit modify sysctl name='hop-by-hop jumbo option malformed' enabled=on \
    protocol=ip6
audit modify sysctl name=default count=1 enabled=on interval=1 protocol=ip6
audit modify sysctl name='invalid address' enabled=on protocol=ip6
audit modify sysctl name='loopback address spoofed' enabled=on protocol=ip6
audit modify sysctl name='header too small' enabled=on protocol=ip6
audit modify sysctl name='option header length incorrect' enabled=on \
    protocol=ip6
audit modify sysctl name='malformed option' enabled=on protocol=ip6
audit modify sysctl name='too many headers' enabled=on protocol=ip6
audit modify sysctl name=netprobe enabled=on protocol=ip6
audit modify sysctl name='link layer broadcast' enabled=on protocol=ip6
audit modify sysctl name='unknown hop-by-hop option' enabled=on protocol=ip6
audit modify sysctl name=default count=1 enabled=on interval=1 protocol=icmp
audit modify sysctl name='invalid redirect' enabled=on protocol=icmp
audit modify sysctl name='spoofed tunneled address' enabled=on protocol=ipsec
audit modify sysctl name='decryption failure' enabled=on protocol=ipsec
audit modify sysctl name='replay attack' enabled=on protocol=ipsec
audit modify sysctl name='no outbound security association' enabled=on \
    protocol=ipsec
audit modify sysctl name='ipsec required' enabled=on protocol=ipsec
audit modify sysctl name='unreachable destination address' enabled=on \
    protocol=ipsec
audit modify sysctl name='invalid inbound security association' enabled=on \
    protocol=ipsec
audit modify sysctl name='policy mismatch' enabled=on protocol=ipsec
audit modify sysctl name='unsupported protocol' enabled=on protocol=ipsec
audit modify sysctl name=default count=1 enabled=on interval=1 protocol=ipsec
audit modify sysctl name='data integrity failure' enabled=on protocol=ipsec
audit modify sysctl name='no inbound security association' enabled=on \
    protocol=ipsec
audit modify netdefense audit_level=1 protocol=arp
audit modify netdefense audit_level=1 protocol=udp
audit modify netdefense audit_level=1 protocol=ip
audit modify netdefense audit_level=1 protocol=tcp
audit modify netdefense audit_level=1 protocol=ip6
audit modify netdefense audit_level=1 protocol=icmp
audit modify netdefense audit_level=1 protocol=ipsec
