auth modify name=Passport active_session_mode=no require_web_login=yes \
    description='Static Passport authenticator' warder=passport \
    grace_period=10 default_authenticator=Password idle_timeout=36000 \
    redirect_delay=5 refresh_period=300 cache_timeout=36000 \
    auth_methods=Password
auth modify name=Password description='Static password authenticator' \
    strong_pw=no warder=password char_grps=2 max_retries=8 \
    expired_message='Your password has expired.' expiration=90 req_chars=2 \
    pass_prompt='Password: ' user_prompt='Username: ' min_pw_len=8
auth set lockout_enabled=no lockout_threshold=10
