host add name=Google dns_mode=dns host=www.google.com ipaddrs='' ttl=0 \
    description='' last_changed_by='admin on Wed May 12 02:58:19 2010'
host add name=localhost dns_mode=dns host=localhost ipaddrs='' ttl=0 \
    description='The local system.' \
    last_changed_by='system on Tue May 11 12:25:26 2010'
