interface modify entrytype=nic name=em0 mac_addr=000c29d37999 \
    iftype=autoselect \
    iftypelist='autoselect,1000baseTX,1000baseTX full-duplex,100baseTX full-duplex,100baseTX,10baseT/UTP full-duplex,10baseT/UTP' \
    ifcap=rxcsum,txcsum ifcaplist=rxcsum,txcsum,jumbo_mtu
interface modify entrytype=nic name=em1 mac_addr=000c29d379a3 \
    iftype=autoselect \
    iftypelist='autoselect,1000baseTX,1000baseTX full-duplex,100baseTX full-duplex,100baseTX,10baseT/UTP full-duplex,10baseT/UTP' \
    ifcap=rxcsum,txcsum ifcaplist=rxcsum,txcsum,jumbo_mtu
interface modify entrytype=nic name=em2 mac_addr=000c29d379ad \
    iftype=autoselect \
    iftypelist='autoselect,1000baseTX,1000baseTX full-duplex,100baseTX full-duplex,100baseTX,10baseT/UTP full-duplex,10baseT/UTP' \
    ifcap=rxcsum,txcsum ifcaplist=rxcsum,txcsum,jumbo_mtu
interface modify entrytype=nic name=em3 mac_addr=000c29d379b7 \
    iftype=autoselect \
    iftypelist='autoselect,1000baseTX,1000baseTX full-duplex,100baseTX full-duplex,100baseTX,10baseT/UTP full-duplex,10baseT/UTP' \
    ifcap=rxcsum,txcsum ifcaplist=rxcsum,txcsum,jumbo_mtu
interface add entrytype=dhcp name=external_network hwdevice=em0 enabled=yes \
    burb=external qos_profile='' mtu=1500 \
    description='Default DHCP external network interface'
interface add entrytype=interface name=internal_network hwdevice=em1 \
    enabled=yes burb=internal addresses=10.1.1.1/24 qos_profile='' mtu=1500 \
    description='Default internal network interface'
