ipaddr add name=Firewall ipaddr=127.0.0.1 \
    description='Firewall network object' \
    last_changed_by='system on Tue May 11 12:25:22 2010'
ipaddr add name='Default Gateway' ipaddr=192.168.0.1 description='' \
    last_changed_by='admin on Wed May 12 02:57:30 2010'
ipaddr add name='Web Server' ipaddr=192.168.0.10 description='' \
    last_changed_by='admin on Wed May 12 03:00:02 2010'
ipaddr add name='Web Server - External Address' ipaddr=80.1.1.1 \
    description='' last_changed_by='admin on Wed May 12 03:02:22 2010'
