ipsec add name=Somewhere type=password encapsulation=tunnel active=1 \
    authalgorithm=sha1,md5 burb=VPN destnet=10.0.0.0/8 \
    encryptalgorithm=aes256,aes128,cast128,3des,des fw-id=IPV4_ADDR:localhost \
    fwauthmethod=password fwgw=localhost options=INITIAL_CONTACT \
    p1auth=sha1,md5 p1crypt=aes256,aes128,3des,des p1exchange=MAIN_MODE \
    p1life-kb=0 p1life-sec=3600 p1oakly=5,2,1 p1soft=85 p2life-kb=0 \
    p2life-sec=700 p2soft=85 password='******' pfs=0 position=1 \
    remotegw=123.123.123.123 srcnet=192.168.0.0/24 version=1
