ipsresponse add name=default \
    mappings='IDS:CHECK-EX:audit;IDS:WORM:audit;IDS:COMPONENT:audit;IDS:CHECK-BD:audit;IDS:DECOY:audit;IDS:UEXPLOIT:audit;IPS:EMPTY:drop;IPS:DOS:drop;IPS:POLICY:drop;IPS:REXPLOIT:drop;IDS:SUSPECT:audit;IPS:SUSPECT:drop;IDS:DISCOVER:audit;IDS:BACKDOOR:audit;IDS:EMPTY:audit;IDS:POLICY:audit;IDS:DOS:audit;IPS:UEXPLOIT:drop;IPS:DECOY:drop;IPS:CHECK-BD:drop;IPS:COMPONENT:drop;IPS:WORM:drop;IPS:CHECK-EX:drop;IPS:DISCOVER:drop;IPS:BACKDOOR:drop;IDS:REXPLOIT:audit' \
    description='Factory provided response mapping'
