netmap add name='Subnet Map' members='subnet:DMZ Subnet:Home Network' \
    description='' last_changed_by='admin on Fri May 14 04:35:15 2010'
netmap add name='Web Server NAT Outbound' \
    members='ipaddr:Web Server:Web Server - External Address' description='' \
    last_changed_by='admin on Wed May 12 03:03:11 2010'
netmap add name='Web Server NAT Inbound' \
    members='ipaddr:Web Server - External Address:Web Server' \
    description='Doesn\'t help?' \
    last_changed_by='admin on Thu May 13 09:12:21 2010'
