policy add table=rulegroup name=Administration pos=1 rulegroup='' disable=no \
    description='Allow access for firewall administration.' \
    last_changed_by='system on Tue May 11 12:25:34 2010'
policy add table=rule name='Login Console' rulegroup=Administration pos=1 \
    action=allow appdefense= audit=standard authenticator=Password \
    authgroups='*' dest='*' dest_burbs=burb:Firewall disable=no \
    inspection_level=minimal ipsresponse= nat_addr= nat_mode=none redir= \
    redir_port= service=service:login sign_category_grp= source='*' \
    source_burbs=burb:Firewall timeperiod='*' ts_enable=no \
    ts_reputation=suspicious_unverified_threshold \
    description='Allow login from system console.' \
    last_changed_by='system on Tue May 11 12:25:26 2010'
policy add table=rule name='Admin Console' rulegroup=Administration pos=2 \
    action=allow appdefense= audit=standard authenticator=Password \
    authgroups='*' dest='*' dest_burbs=burb:internal disable=no \
    inspection_level=minimal ipsresponse= nat_addr= nat_mode=none \
    redir=ipaddr:Firewall redir_port=9002 service='service:Admin Console' \
    sign_category_grp= source='*' source_burbs=burb:internal timeperiod='*' \
    ts_enable=no ts_reputation=suspicious_unverified_threshold \
    description='Allow Admin Console access from the internal burb' \
    last_changed_by='system on Tue May 11 12:25:34 2010'
policy add table=rule name='Secure Shell Server' rulegroup=Administration \
    pos=3 action=allow appdefense= audit=standard authenticator=Password \
    authgroups='*' dest='*' dest_burbs=burb:internal disable=no \
    inspection_level=minimal ipsresponse= nat_addr= nat_mode=none redir= \
    redir_port= service=service:sshd sign_category_grp= source='*' \
    source_burbs=burb:internal timeperiod='*' ts_enable=no \
    ts_reputation=suspicious_unverified_threshold \
    description='Allow SSH server access from the internal burb' \
    last_changed_by='admin on Wed May 12 03:04:52 2010'
policy add table=rulegroup name='Main Policy' pos=2 rulegroup='' disable=no \
    description='' last_changed_by='admin on Wed May 12 03:09:17 2010'
policy add table=rulegroup name=DMZ pos=1 rulegroup='Main Policy' disable=no \
    description='' last_changed_by='admin on Wed May 12 03:06:52 2010'
policy add table=rule name='Web Server - Inbound' rulegroup=DMZ pos=1 \
    action=allow appdefense=defaultgroup audit=standard authenticator= \
    authgroups='*' dest='netmap:Web Server NAT Inbound' \
    dest_burbs=burb:external disable=no inspection_level=comprehensive \
    ipsresponse= nat_addr= nat_mode=none redir= redir_port= \
    service='servicegroup:Web Services' sign_category_grp= source='*' \
    source_burbs=burb:external timeperiod='*' ts_enable=no \
    ts_reputation=suspicious_unverified_threshold description='' \
    last_changed_by='admin on Wed May 12 03:06:52 2010'
policy add table=rule name=NAT rulegroup='Main Policy' pos=2 action=allow \
    appdefense=defaultgroup audit=standard authenticator= authgroups='*' \
    dest='*' dest_burbs=burb:external disable=no inspection_level=none \
    ipsresponse= nat_addr='ipaddr:Web Server - External Address' \
    nat_mode=normal redir= redir_port= service=service:Any sign_category_grp= \
    source='subnet:Home Network' source_burbs=burb:internal timeperiod='*' \
    ts_enable=no ts_reputation=suspicious_unverified_threshold description='' \
    last_changed_by='admin on Wed May 12 03:09:17 2010'
policy add table=rulegroup name='VPN In' pos=3 rulegroup='' disable=no \
    description='' last_changed_by='admin on Thu May 13 09:56:33 2010'
policy add table=rule name='VPN In to the Web Server' rulegroup='VPN In' \
    pos=1 action=allow appdefense=defaultgroup audit=standard authenticator= \
    authgroups='*' dest='ipaddr:Web Server' dest_burbs=burb:internal \
    disable=no inspection_level=none ipsresponse= nat_addr=host:localhost \
    nat_mode=normal redir= redir_port= service=service:Any sign_category_grp= \
    source='*' source_burbs=burb:VPN timeperiod='*' ts_enable=no \
    ts_reputation=suspicious_unverified_threshold description='' \
    last_changed_by='admin on Thu May 13 09:56:33 2010'
policy add table=rule name='Deny All' rulegroup='' pos=4 action=deny \
    appdefense= audit=standard authenticator= authgroups='*' dest='*' \
    dest_burbs='*' disable=no inspection_level=comprehensive ipsresponse= \
    nat_addr= nat_mode=none redir= redir_port= service='*' sign_category_grp= \
    source='*' source_burbs='*' timeperiod='*' ts_enable=no \
    ts_reputation=suspicious_unverified_threshold \
    description='Deny access from any burb to any burb.' \
    last_changed_by='system on Tue May 11 12:25:26 2010'
