reports add_query rows='' query_title='Root Accesses' \
    query_desc='Root Access Query' totals=no template_type=default \
    template_title='' query_name=root_accesses_q1 groups='' sortburbs=no \
    table=srole_table order=ts_desc columns=ts,cmd,res,tdom,tuid,msg
reports add_query rows='' query_title='Network Probes' \
    query_desc='Network Probe Query' totals=no template_type=default \
    template_title='' query_name=probes_attempted_q1 groups='' sortburbs=yes \
    table=probe_table order=count_desc columns=srcip,dstip,dstpt,count
reports add_query rows='action = 0' query_title='Services Denied by ACLs' \
    query_desc='Service Denied By ACL Query' totals=no template_type=default \
    template_title='' query_name=service_denied_q1 \
    groups=srcip,dstip,user,srvc sortburbs=no table=acl_table \
    order=sum_hitcount_desc columns=srcip,dstip,user,srvc,sum_hitcount
reports add_query rows='' query_title='Proxy Traffic Summary by Service' \
    query_desc='Service Traffic Query' totals=yes template_type=default \
    template_title='' query_name=service_traffic_q1 groups=srvc sortburbs=no \
    table=traffic_table order=sum_wbyte_rbyte_desc \
    columns=srvc,sum_rbyte,sum_wbyte,sum_wbyte_rbyte,sum_scnt
reports add_query rows='' query_title='Proxy Traffic Summary by Source Host' \
    query_desc='Host Traffic Query' totals=yes template_type=default \
    template_title='' query_name=host_traffic_q1 groups=srcip sortburbs=no \
    table=traffic_table order=sum_wbyte_rbyte_desc \
    columns=srcip,sum_rbyte,sum_wbyte,sum_wbyte_rbyte,sum_scnt
reports add_query rows='' query_title='Proxy Traffic Summary by Destination' \
    query_desc='Destination Traffic Query' totals=yes template_type=default \
    template_title='' query_name=dest_traffic_q1 groups=dstip,srvc \
    sortburbs=no table=traffic_table order=sum_wbyte_rbyte_desc \
    columns=dstip,srvc,sum_wbyte_rbyte,sum_scnt
reports add_query rows='' query_title='Proxy Traffic Summary by User' \
    query_desc='User Traffic Query' totals=yes template_type=default \
    template_title='' query_name=user_traffic_q1 groups=uname,srvc \
    sortburbs=no table=traffic_table order=sum_wbyte_rbyte_desc \
    columns=uname,srvc,sum_rbyte,sum_wbyte,sum_wbyte_rbyte,sum_scnt
reports add_query rows='' query_title='Proxy Traffic Summary by Service' \
    query_desc='Service Traffic Query' totals=yes template_type=default \
    template_title='' query_name=service_traffic_q1 groups=srvc sortburbs=no \
    table=traffic_table order=sum_wbyte_rbyte_desc \
    columns=srvc,sum_rbyte,sum_wbyte,sum_wbyte_rbyte,sum_scnt
reports add_query rows='' query_title='Proxy Traffic Summary by Source Host' \
    query_desc='Host Traffic Query' totals=yes template_type=default \
    template_title='' query_name=host_traffic_q1 groups=srcip sortburbs=no \
    table=traffic_table order=sum_wbyte_rbyte_desc \
    columns=srcip,sum_rbyte,sum_wbyte,sum_wbyte_rbyte,sum_scnt
reports add_query rows='' query_title='Proxy Traffic Summary by Destination' \
    query_desc='Destination Traffic Query' totals=yes template_type=default \
    template_title='' query_name=dest_traffic_q1 groups=dstip,srvc \
    sortburbs=no table=traffic_table order=sum_wbyte_rbyte_desc \
    columns=dstip,srvc,sum_wbyte_rbyte,sum_scnt
reports add_query rows='' query_title='IP Filter Traffic Summary by Port' \
    query_desc='Service Traffic Query' totals=yes template_type=default \
    template_title='' query_name=ipf_port_traffic_q1 groups=dstport \
    sortburbs=no table=ipfilter_traffic_table order=sum_wbyte_rbyte_desc \
    columns=dstport,sum_rbyte,sum_wbyte,sum_wbyte_rbyte,sum_scnt
reports add_query rows='' \
    query_title='IP Filter Traffic Summary by Source Host' \
    query_desc='Host Traffic Query' totals=yes template_type=default \
    template_title='' query_name=ipf_host_traffic_q1 groups=srcip \
    sortburbs=no table=ipfilter_traffic_table order=sum_wbyte_rbyte_desc \
    columns=srcip,sum_rbyte,sum_wbyte,sum_wbyte_rbyte,sum_scnt
reports add_query rows='' \
    query_title='IP Filter Traffic Summary by Destination' \
    query_desc='Destination Traffic Query' totals=yes template_type=default \
    template_title='' query_name=ipf_dest_traffic_q1 groups=dstip,dstport \
    sortburbs=no table=ipfilter_traffic_table order=sum_wbyte_rbyte_desc \
    columns=dstip,dstport,sum_wbyte_rbyte,sum_scnt
reports add_query rows='' query_title='VPN Gateways' \
    query_desc='VPN Traffic Gateways Query' totals=no template_type=default \
    template_title='' query_name=vpn_traffic_q1 groups='' sortburbs=no \
    table=vpn_table order=conn_desc columns=p2rid,p2lid,p1rid,rgtwy,lgtwy
reports add_query rows='' query_title='VPN Traffic' \
    query_desc='VPN Traffic Bytes Query' totals=no template_type=default \
    template_title='' query_name=vpn_traffic_q2 groups='' sortburbs=no \
    table=vpn_table order=conn_desc columns=p2rid,p2lid,p1rid,rbytes,lbytes
reports add_query rows='' query_title='VPN Connections' \
    query_desc='VPN Traffic Connections Query' totals=no \
    template_type=default template_title='' query_name=vpn_traffic_q3 \
    groups='' sortburbs=no table=vpn_table order=conn_desc \
    columns=p2rid,p2lid,conn
reports add_query rows='(srcip = TEMPLATE) or (dstip = TEMPLATE)' \
    query_title='Host Proxy Traffic' query_desc='Host Activity Traffic Query' \
    totals=no template_type=host template_title=Host \
    query_name=host_activity_q1 groups='' sortburbs=no table=traffic_table \
    order=wbyte_rbyte_desc \
    columns=srcip,dstip,srvc,uname,wbyte,rbyte,wbyte_rbyte,scnt
reports add_query \
    rows='((srcip = TEMPLATE) or (dstip = TEMPLATE)) and (action = 0)' \
    query_title='Host ACL Violations' \
    query_desc='Host Activity ACL Violations Query' totals=no \
    template_type=host template_title=Host query_name=host_activity_q2 \
    groups=srcip,dstip,user,srvc sortburbs=no table=acl_table \
    order=sum_hitcount_desc columns=srcip,dstip,user,srvc,sum_hitcount
reports add_query rows='(srcip = TEMPLATE) or (dstip = TEMPLATE)' \
    query_title='Host Probes' query_desc='Host Activity Probe Query' \
    totals=no template_type=host template_title=Host \
    query_name=host_activity_q3 groups='' sortburbs=no table=probe_table \
    order=count_desc columns=srcip,dstip,dstpt,count
reports add_query rows='uname = "TEMPLATE"' query_title='User Traffic' \
    query_desc='User Activity Traffic Query' totals=no template_type=default \
    template_title='User Name' query_name=user_activity_q1 groups='' \
    sortburbs=no table=traffic_table order=wbyte_rbyte_desc \
    columns=srcip,dstip,srvc,uname,wbyte,rbyte,wbyte_rbyte,scnt
reports add_query rows='msg like "%%user TEMPLATE%%"' \
    query_title='User Root Accesses' \
    query_desc='User Activity Root Accesses Query' totals=no \
    template_type=default template_title='User Name' \
    query_name=user_activity_q2 groups='' sortburbs=no table=srole_table \
    order=ts_desc columns=ts,cmd,res,tdom,tuid,msg
reports add_query rows='(user = "TEMPLATE") and (action = 0)' \
    query_title='User Acl Violations' \
    query_desc='User Activity ACL Violations Query' totals=no \
    template_type=default template_title='User Name' \
    query_name=user_activity_q3 groups=srcip,dstip,user,srvc sortburbs=no \
    table=acl_table order=sum_hitcount_desc \
    columns=srcip,dstip,user,srvc,sum_hitcount
reports add_query rows='' query_title='ACL Rule Usage' \
    query_desc='ACL Usage Query' totals=no template_type=default \
    template_title='' query_name=acl_usage_q groups=ruleid sortburbs=no \
    table=acl_table order=sum_hitcount_desc columns=ruleid,sum_hitcount
reports add_report report_desc='Root Access Report' \
    report_title='Root Access Report' template_used=no \
    query_list=root_accesses_q1 report_name=root_accesses
reports add_report report_desc='Network Probe Report' \
    report_title='Network Probe Report' template_used=no \
    query_list=probes_attempted_q1 report_name=probes_attempted
reports add_report report_desc='Service Denied By ACL Report' \
    report_title='Services Denied By ACL Report' template_used=no \
    query_list=service_denied_q1 report_name=service_denied
reports add_report report_desc='Proxy Service Traffic Report' \
    report_title='Proxy Service Traffic Report' template_used=no \
    query_list=service_traffic_q1 report_name=service_traffic
reports add_report report_desc='Proxy Host Traffic Report' \
    report_title='Proxy Host Traffic Report' template_used=no \
    query_list=host_traffic_q1 report_name=host_traffic
reports add_report report_desc='Proxy Destination Traffic Report' \
    report_title='Proxy Destination Traffic Report' template_used=no \
    query_list=dest_traffic_q1 report_name=dest_traffic
reports add_report report_desc='User Traffic Report' \
    report_title='User Traffic Report' template_used=no \
    query_list=user_traffic_q1 report_name=user_traffic
reports add_report report_desc='IP Filter Port Traffic Report' \
    report_title='IP Filter Port Traffic Report' template_used=no \
    query_list=ipf_port_traffic_q1 report_name=ipf_port_traffic
reports add_report report_desc='IP Filter Host Traffic Report' \
    report_title='IP Filter Host Traffic Report' template_used=no \
    query_list=ipf_host_traffic_q1 report_name=ipf_host_traffic
reports add_report report_desc='IP Filter Destination Traffic Report' \
    report_title='IP Filter Destination Traffic Report' template_used=no \
    query_list=ipf_dest_traffic_q1 report_name=ipf_dest_traffic
reports add_report report_desc='Proxy Traffic Report' \
    report_title='Proxy Traffic Report' template_used=no \
    query_list=service_traffic_q1,host_traffic_q1,dest_traffic_q1,user_traffic_q1 \
    report_name=traffic
reports add_report report_desc='IP Filter Traffic Report' \
    report_title='IP Filter Traffic Report' template_used=no \
    query_list=ipf_port_traffic_q1,ipf_host_traffic_q1,ipf_dest_traffic_q1 \
    report_name=ipf_traffic
reports add_report report_desc='VPN Traffic Report' \
    report_title='VPN Traffic Report' template_used=no \
    query_list=vpn_traffic_q1,vpn_traffic_q2,vpn_traffic_q3 \
    report_name=vpn_traffic
reports add_report report_desc='Host Activity Report' \
    report_title='Host Activity Report' template_used=yes \
    query_list=host_activity_q1,host_activity_q2,host_activity_q3 \
    report_name=host_activity
reports add_report report_desc='User Activity Report' \
    report_title='User Activity Report' template_used=yes \
    query_list=user_activity_q1,user_activity_q2,user_activity_q3 \
    report_name=user_activity
reports add_report report_desc='ACL Rule Usage Report' \
    report_title='ACL Rule Usage Report' template_used=no \
    query_list=acl_usage_q report_name=acl_usage
