snmp set system_location=none
snmp set system_contact=none
snmp set trap_version=v2c
snmp set trap_user=''
snmp set trap_level=authPriv
snmp set engine_id=''
snmp set v1_allowed=1
snmp set v2c_allowed=1
snmp set v3_allowed=1
snmp set trap_password='********'
snmp set authfailtrap=0
snmp add getcommunity names=public
