timeperiod add name='Business Hours' \
    time_intervals='Mon - Fri 8:00am - 5:00pm' description='' \
    last_changed_by='system on Tue May 11 12:25:26 2010'
timeperiod add name=Weekends time_intervals='Sat - Sun' description='' \
    last_changed_by='system on Tue May 11 12:25:26 2010'
timeperiod add name=Weekdays time_intervals='Mon - Fri' description='' \
    last_changed_by='system on Tue May 11 12:25:26 2010'
