trustedsource set whitelist_all=ipaddrs,ipranges,subnets,hosts \
    default_reputation=30 malicious_suspicious_threshold=49 \
    suspicious_unverified_threshold=29 unverified_neutral_threshold=14 \
    neutral_trusted_threshold=-1 audit_ts_allows=no use_untrusted_burbs=no \
    untrusted_burbs=''
